label, div, .no-select {
  user-select: none;
}

.base-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  //background-color: #3498db; B7DEFC
  background-color: #B7DEFC;
  padding: 6em 1em;

  .container {
    min-width: 342px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #49b1f7;
    box-shadow: 10px 10px 12px 5px rgba(15, 15, 15, 0.2);
    border-radius: 60px;
    position: relative;
    z-index: 99;
    width: 30%;
    height: 100%;
    z-index: 99;
    padding: 80px 20px;

    .header {
      font-size: 24px;
      font-weight: bold;
      color: #fff;
      font-family: "Open Sans", sans-serif;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #fff;

      .image {
        padding: 1em 1px;
        width: 10em;
          img {
            width: 100%;
            height: 100%;
          }
      }

      .form {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;

        .form-group {
          flex-shrink: 1;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          label {
            font-size: 20px;
            padding-left: 5px;
            font-weight: bold;
          }

          input {
            margin-top: -5px;
            height: 37px;
            padding: 0px 10px;
            font-size: 16px;
            font-family: "Open Sans", sans-serif;
            background-color: #f3f3f3;
            border: 0;
            border-radius: 15px;
            margin-bottom: 1px;
            transition: all 250ms ease-in-out;
            width: 20em;
            &:hover {
              background-color: #ffffff;
              box-shadow: 0px 0px 14px 0.3px #ffffff96;
            }

            &:focus {
              outline: none;
              box-shadow: 0px 0px 12px 0.8px #000000b2;
            }
          }
        }

        .btn {
          flex-shrink: 1;
          margin-top: 20px;
          font-size: 21px;
          padding: 5px 20px;
          border: 0;
          background-color: #368ec9;
          color: #fff;
          border-radius: 20px;
          transition: all 250ms ease-in-out;
          cursor: pointer;
          &:hover {
            background-color: #1e73ac;
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}