* {
    font-family: 'QuickSand', sans-serif;
}

html, body, nav, ul {
    margin: 0;
    max-height: 0;
}

.content-container {
    padding: 25px;
    line-height: 1.5em;
    width: 100%;
}

.main-container {
    display: flex;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 20px;
    border-right: 2px solid rgb(211, 211, 211);
}

.sidebar-icon, .sidebar-icon span {
    z-index: 99;
}

.sidebar-tab {
    width: auto;
    max-width: 13rem;
    max-height: 4rem;
    min-height: 4rem;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;

    .description {
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 1.7rem;
        box-sizing: border-box;
        min-width: 0px;
        max-width: 9rem;
        overflow:hidden;
        border-bottom: 0.1rem solid rgb(194, 194, 194);

        &:hover {
            background-color: rgb(236, 236, 236);
        }
    }

    .link {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        max-width: 4rem;
        min-width: 4rem;
    }

    .icon-button:hover {
        background-color: inherit !important;
    }

    .sidebar-icon {
        color: #1b1b1b;
        font-size: 3rem !important;
        &:hover {
            font-size: 3.2rem !important;
            color: #535353;
            transition: color 100ms linear, font-size 100ms ease-in-out;
        }
    }

    svg {
        overflow: hidden;
    }

    path {
    overflow: hidden;
    }
}



.sidebar-content, .sidebar-content div {
    overflow-x:hidden;
}

.sidebar-content {
    width: 200px;
    padding-top: 25px;
}

.sidebar-link {
    padding: 10px;
}

.sidebar-link:hover {
    border-right: 5px solid dimgray;
    background-color: gainsboro;
}


